/* form.signup,
form.login {
  margin-top: 50px;
} */


* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	background: url(https://subtlepatterns.com/patterns/sativa.png) repeat fixed;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}

.navbar {
	background-color: #0a7a9c;
}


fieldset {
	margin-bottom: 65px;
}

.login, .signup {
	position: relative;
	background: #fff;
	border-radius: 4px;
}

.legend {
	position: relative;
	width: 100%;
	display: block;
	background: #ff7052;
	padding: 15px;
	color: #fff;
	font-size: 20px;
}

#signUp {
	/* position: relative;
	width: 100%;
	display: block; */
	background: #0a7a9c;
	/* padding: 15px;
	color: #fff;
	font-size: 20px; */
}

#email-input {
	position: relative;
	width: 90%;
	margin: 15px auto;
}

#password-input{
  position: relative;
	width: 90%;
	margin: 15px auto;
}

.btn {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto -8px auto;
	background: #fff;
	border-radius: 100%;
	border: 1px solid #ff7052;
	color: #ff7052;
	font-size: 24px;
	cursor: pointer;
	box-shadow: 0px 0px 0px 7px #fff;
	transition: 0.2s ease-out;
}

#register {
  width: auto;
  height: 40px;
  border-radius: 10px;
	border: 1px solid #0a7a9c;
	color: #0a7a9c;
	font-size: 15px;
}

.btn:hover,
.btn:focus {
	background: #ff7052;
	color: #fff;
	outline: 0;
}

#register:hover,
#register:focus {
  background: #0a7a9c;
  color: #fff;
}

.feedback {
	position:absolute;
	bottom: -70px;
	width: 100%;
	text-align: center;
	color: #fff;
	background: #2ecc71;
	padding: 8px 0;
	font-size: 12px;
	display: none;
	opacity: 0;
	border-radius: 5px;
}

p {
	text-align: center;
}

/* member page */
.btn-primary {
	font-size: 20px;
	border-radius: 15px;
	margin: 10px auto;
	padding: 5px;
}
#hand {
	font-size: 50px;
}
.member-name {
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#hand {
	animation-name: hand-shaking;  /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;        /* Change to speed up or slow down */
	animation-iteration-count: infinite;  /* Never stop waving */
	transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
	display: inline-block;
}
  
@keyframes hand-shaking {
	  0% { transform: rotate( 0.0deg) }
	 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
	 20% { transform: rotate(-8.0deg) }
	 30% { transform: rotate(14.0deg) }
	 40% { transform: rotate(-4.0deg) }
	 50% { transform: rotate(10.0deg) }
	 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
	100% { transform: rotate( 0.0deg) }
}

@media screen and (max-width: 468px) {
	.legend{
		display: none;
	}

	#loginPage, html{
		background: url(https://cdn.dribbble.com/users/1018473/screenshots/5344535/login.png);
		background-size: 100% 50%;
		background-attachment: fixed;
		background-repeat: no-repeat;

	}

	fieldset {
		margin-top: 490px;
	}

	#login, #register {
		width: 100px;
		height: 40px;
		margin: 25px auto -15px auto;
		border-radius: 20px;
		background: #fd8105;
		color: #fff;
		font-size: 14px;
	}

	.pvw-title span {
		display: none;
	}
	.pvw-title:after{
		content: "login";
		margin-bottom: 50px;
	}

	#registerPage,html {
		background: url(https://i.pinimg.com/originals/65/dc/a6/65dca69f78972935caf61580e7c17bd9.png);
		background-size: 100% 50%;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	#register {
		background: #0a7a9c;
	}


}